#top-jumbo{
    padding: 0 0 400px;
    background: #f7fdff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f7fdff 0%, #f7fdff 30%, #8948f2 75%, #e079de 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f7fdff 0%,#f7fdff 30%,#8948f2 75%,#e079de 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f7fdff 0%,#f7fdff 30%,#8948f2 75%,#e079de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#top-jumbo:after{
        content: "";
        display: table;
        clear: both;
}
#top-jumbo .left-side{
    width: 50%;
    dislay: inline-block;
    float: left;
}
#top-jumbo .left-side .large-number{
    font-size: 226px;
    font-weight: 700;
    opacity: .1;
    color: #4C44C1;
    position: relative;
    left: -18px;
    z-index: 1;
    top: 199px;
}
#top-jumbo .left-side .info-container h1{
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #4C44C1;
    
    
}
#top-jumbo .right-side{
    width: 50%;
    dislay: inline-block;
    float: left;
}
#top-jumbo .right-side img{
    width: 100%;
}